{% extends "base.html" %}

{% block header %}
<link rel="stylesheet" type="text/css" href="/static/css/index.css">

 <script>
    (function($) {
      $( document ).ready(function() {
       var $container = $( '.row' );
       $container.masonry({
         itemSelector: '.mason-item'
        });
        var msnry = $container.data('masonry');
     })
   })(jQuery)
  </script>
{% endblock %}

{% block content %}
  <div ></div>
  <div class="initial-background-container" style="background-image: url(static/yosemite.jpg);"></div>
  <div class="initial-cover-container" style="background-image: url("/static/yosemite.jpg");">
    <div class="initial-cover">
      <div class="center-text">
        <h1>Travel Application</h1>
        <p>Where do you want to go?</p>
        <form action="/search" method="post">
          <input name="text" type="text" />
          <button class="" type="submit">Search</button>
        </form>
        
        <input id="pac-input" class="controls" type="text" placeholder="Search Box">
        <button type="button" id="initial-cover-remove">Search</button>
      </div>
    </div>
  </div>
{% endblock %}